[submodule "backend"]
	path = backend
	url = https://github.com/sardaarNiamotullah/travel_itinerary-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sardaarNiamotullah/travel_itinerary-frontend.git
